<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/css/burger.css" type="text/css">
        <title>Eat Da Burger!</title>
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/assets/js/burgers.js"></script>
        

    </head>
    <body>
    {{!-- <body background="https://media.giphy.com/media/l4Ki5FgQxmVUfkOvC/giphy.gif"> --}}
        {{{ body }}}
    </body>
</html>
<h1>EAT - DA - BURGER!</h1>
<div class = "container">
      <div class = "jumbotron">
         <img src = "https://clipartion.com/wp-content/uploads/2015/11/burger-and-sandwich-png-images-download-pictures.png" width='35%' height='25%'>
        <h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    {{!-- <label for="devour">Devour it</label><br> --}}
    <input type="radio" name="devour" value="1" checked> devour!<br>
    {{!-- <input type="radio" name="devour" value="0"> Awake --}}
  </div>

  <button type="submit">Add Burger</button>
</form>
</div>   
      </div>
      

{{!-- <h2>Cats that are not sleepy!</h2> --}}
<div id="d1">
    <ul>
  {{#each burgers}}
    {{#unless devour}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>
</div>

{{!-- <h2>burgers that are devour!</h2> --}}

<div id="d2">
<ul>
  {{#each burgers}}
    {{#if devour}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>
</div>