li {
    padding: 5px;
    margin: 5px;
    background-color: transparent;
    width: 30%;
  }
  #d2{
    position: relative;
  /* position: absolute; */
  left: 1200px;
  top:-150px;
}
    
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  button{
    background-color: transparent; 
  }
  .form-group {
    margin-bottom: 5px;
  }
  h1{
    color: rgb(35, 13, 236);
    text-align: center;
  }
  
#d1{
 position: relative;

}
.jumbotron{
    padding-left: 40%;
    background-color: transparent;
}

body{
    background-color:rgb(160, 178, 202);
}